@import "tailwindcss";
@config "../tailwind.config.js"; 

body {
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light bg */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* DARK MODE support */
html.dark ::-webkit-scrollbar-thumb {
  background-color: #333;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #666;
}

html {
  scroll-behavior: smooth;
}